.Dashboard-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.Dashboard-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  background-color: #3F51B5;
  border-radius: 25px;
}

.Dashboard-button {
  outline: none;
  border: none;
  padding: 5px 30px;
  border-radius: 25px;
  background-color: #3F51B5;
  color: #ffffff;
  font-size: 1em;
}

.Dashboard-selected-button {
  outline: none;
  border: none;
  padding: 5px 30px;
  border-radius: 25px;
  font-size: 1em;
}