.NextYear-button {
  width: 23rem;
  height: 3rem;
  color: white;
  background-color: #E91E63;
  border: none;
  outline: none;
  border-radius: 25px;
  margin-top: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}