.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: calc(30px + 2vmin);
  color: white;
}

.App-body {
  display: flex;
  flex-direction: column;
  flex: 5;
  font-size: calc(5px + 2vmin);
  color: white;
}